#apLogin{
    -fx-background-color: #ffe7a1;
    -fx-font-family: 'Arial';
    -fx-font-size: 13px;  
}

#Titulo{
    -fx-font-family: 'Calibri';
    -fx-font-size: 25px;  
    -fx-text-fill: #0094FF;
}

#btnIniciar{
    -fx-background-color: #2bcc63;
}

#btnCancelar{
        -fx-background-color: #f74d75;
}